@model IEnumerable<TinyClothes.Models.Clothing>

@{
    ViewData["Title"] = "List Clothinig Inventory";
}

<h1>Clothing Inventory</h1>

@if (TempData["Message"] != null) 
{ 
    <div class="alert alert-success" role="alert">@TempData["Message"]</div>
}
<p>
    <a asp-action="Add"
       asp-controller="Clothes">
         Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>

<ul class="pagination">
    @* Print page numbers *@
    @for (int i = 1; i <= (int)ViewData["MaxPage"]; i++) //Have to cast ViewData as an int
    {
        @if (i != (int)ViewData["CurrentPage"])
		{
            <li class="page-item">
                <a class="page-link" 
                   asp-action="ShowAll" 
                   asp-route-page="@i">@i</a>
            </li>
		}
		else
        { 
            <li class="page-item active">
                <a class="page-link" href="#">@i</a>
            </li>
        }
	}
</ul>
